<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>IanniX</string>
	<key>CFBundleExecutable</key>
	<string>IanniX</string>
	<key>CFBundleShortVersionString</key>
        <string>0.9.20</string>
	<key>CFBundleVersion</key>
        <string>0.9.20</string>
	<key>CFBundleIdentifier</key>
	<string>org.iannix.desktop</string>
	<key>NSHumanReadableCopyright</key>
	<string>IanniX Association</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>buzzing light</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iannix</string>
				<string>IANNIX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_file.icns</string>
			<key>CFBundleTypeName</key>
			<string>IanniX Score</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nxscore</string>
				<string>NXSCORE</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_file.icns</string>
			<key>CFBundleTypeName</key>
			<string>IanniX Score</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nxscript</string>
				<string>NXSCRIPT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_file.icns</string>
			<key>CFBundleTypeName</key>
			<string>IanniX Score</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nxstyle</string>
				<string>NXSTYLE</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon_file.icns</string>
			<key>CFBundleTypeName</key>
			<string>IanniX Score</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>ForAppStore</key>
	<true/>
	<key>LSAppNapIsDisabled</key>
	<true/>
</dict>
</plist>
