* {
	font-weight:normal;	
}

/* BALISES STANDARD */
body {
	font-style: normal;
	line-height: normal;
	margin: 0px;
	padding: 0px;
	background-color: #484540;
}
h2 {
	font-family: 'Museo500', 'Helvetica', 'Arial';
	font-size:22px;
	color:#000000;
	margin-left:60px;
	padding-top:30px;
	padding-bottom:5px;
}
h3 {
	font-family: 'Museo500', 'Helvetica', 'Arial';
	font-size:14px;
	color:#000000;
	margin-left:60px;
	padding-top:10px;
	padding-bottom:0px;
	cursor: pointer;
}
h4 {
	font-family: 'Museo500', 'Helvetica', 'Arial';
	font-size:14px;
	color:#000000;
	margin-left:60px;
	padding-top:20px;
	padding-bottom:5px;
}
p {
	font-family: 'Museo300', 'Helvetica', 'Arial';
	font-size:12px;
	line-height:1.5;
	color:#000000;	
	margin-left: 10px;
	margin-right: 10px;
}
ul {
	margin-left:100px;
	margin-bottom: 5px;
	list-style-type: disc;
	font-family: 'Museo300', 'Helvetica', 'Arial';
}
li {
	font-size:12px;
	margin-right:60px;
	padding-top: 5px;
	line-height:1.5;
	font-family: 'Museo300', 'Helvetica', 'Arial';	
}
hr {
	margin-top: 40px;
}
b {
	font-family: 'Museo500', 'Helvetica', 'Arial';
}
.noir{
	color:#000000;
}
ol.liste_inspector{
	list-style-type: decimal;
	color: #f30000;
}
ol.bleu {
	list-style-type: decimal;
	color:#297efe;
}
ol.vert{
	list-style-type: decimal;
	color:#5fb737;
}
ol.orange{
	list-style-type: decimal;
	color:#f30000;
}
.overview_menu{
	vertical-align:top;
}

ol.generale, ol.vert, ol.bleu, ol.orange{
	list-style-type: decimal;
	margin-left:70px;
}
a {
	color:#FF5800;
}

a:hover{
	text-decoration:underline;
}

.langue{
	color:#aaa;
	text-decoration:none;
	font-family: 'Museo500', 'Helvetica', 'Arial';
	font-size:13px;
	padding-top:10px;
	padding-left:30px;
}

.dialog{
	margin-left: 60px;
}
.target , .objet{
	color:#F42E2E;
}
.variable, .id, .group, .curvetarget, .speed, .speedfactor, .duration, .scaling, .duration{
	color: #E634CF;
}
.label, .rgb, .hsb, .bin , .initial, .pattern, .height, .pointindex, .font, .message{
	color:#6D9E02;
}
.api, .a, .size, .filename, .start {
	color:#009BFF;
	font-size: 12px;
}
.coord , .size, .dash, .width, .end, .text, .path, .period, .zoomfactor, .time, .delay{
	color: #864A22;
}
.inspector{
	margin-left: 30px;
	margin-right: 30px;
}
.titre{
	font-family: 'Museo500', 'Helvetica', 'Arial';
	font-size: 12px;
}
.onglets {
	width: 100%;
	-moz-box-shadow: 1px 1px 2px #666;
	-webkit-box-shadow: 1px 1px 2px #666;
}
.onglet{
	padding: 10px 10px 10px 10px;
	text-align: center;
	font-family: 'Museo500', 'Helvetica', 'Arial';
	font-size:13px;
	color:#FFFFFF;	
}
.onglet:hover{
	background-color:#484540;
	color:#fff;
}
.onglet:hover a{
	color:#fff;
	text-decoration:none;
}
#actif {
	background-color: #00BBFF;
}
#actif a {
	color: #FFF;
}

#objet_actif{
	border: medium solid #FF5800;
}
.icone{
	padding-left: 20px;
	padding-right: 20px;
}
.menu_objets{
	margin-left:220px;
}
.fonction {
}
.exemple {
	margin: 10px 70px 10px 60px;
}
.code{
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
	padding: 0px;
}
.copypaste {
	font-family: 'Museo300', 'Helvetica', 'Arial';
	font-size:9px;
	margin-left: 20px;
}
.code_triggeroff{
	margin-left: 60px;
}
.script{
	margin: 20px;
}
.value{
	padding-left: 20px;
}
/* HEADER & STRUCTURE */
.main {
	margin-left: auto;
	margin-right: auto;
	width: 775px;
	background-color: #FFFFFF;
	margin-top:0px;
	vertical-align: top;
	padding-bottom: 80px;
}
.code_speed{
	padding-top: 10px;
}
.code_speedf{
	padding-top: 25px;
}
.code_setpointssvg{
	padding-top: 25px;
}
.code_settextureinactivemessage{
	padding-top: 10px;
}

/* SECTIONS */
p {
	margin-left:60px;
	margin-right:60px;
	padding-top:10px;
}
.descriptif {
	font-family: 'Museo300', 'Helvetica', 'Arial';
	font-size:12px;
	margin-left:60px;
	margin-right:60px;
	line-height:1.5;
	color:#000000;	
	padding-bottom:20px;
}
.descriptif li {
	list-style-type: none;
	margin-left:20px;
	font-family: 'Museo500', 'Helvetica', 'Arial';
}
.descriptif li li {
	list-style-type: none;
	margin-left:20px;
	font-family: 'Museo300', 'Helvetica', 'Arial';
}
.screenshot {
	position: relative;
}

.roll {
	background-color: #EAEAEA;
	padding-bottom: 5px;
}
